<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xunyin.lanshan_exam.mapper.MovieMapper">

    <select id="searchByName" resultType="org.xunyin.lanshan_exam.pojo.Movie">
        select *
        from movie
        where
        name like '%#{name}%'
    </select>
    <select id="searchByActor" resultType="org.xunyin.lanshan_exam.pojo.Movie">
        select * from movie
        where
        actor = #{actor}
    </select>
    <select id="searchByScore" resultType="org.xunyin.lanshan_exam.pojo.Movie">
        select * from movie

       order by score desc

    </select>
</mapper>